#queroDoar {
    height: 100vh;
    background-image: url("imagens/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho {
    background-color: #23942c;
    color: white;
    padding: 150px 150px 50px;
    text-align: justify;
}

.cadastro {
    margin: 50px;
    margin-top: 150px;
    text-align: center;
}

p {
    margin-top: 40px;
}

i {
    color: #23942c;
    font-size: 80px;
}

form {
    display: inline-block;
}
