#quero_doar {
    background-image: url("imagens/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#login_esquerda {
    background-image: url("imagens/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho {
    background-color: #23942c;
    color: white;
    text-align: justify;
}

.cadastro {
    text-align: center;
}

#sobre_nos i {
    color: #23942c;
    font-size: 80px;
}

#sobre_nos form {
    display: inline-block;
}

#btn_entrar {
    background-color: #23942c;
}

#btn_criar_conta {
    background-color: #e9ecef;
}
